In [3]:
""" Take the input from the user for(Total number of people,Number of seats for bus. Based on two
inputs
Decide how many number of buses required"""

x = int(input())
y = int(input())

busses = x // y 

if x % y != 0:
    busses = busses + 1 
print(busses)

48
10
5

0

In [4]:
temp = int(input())
F = (temp * (9 / 5)) + 32 
print(F,"F")

3
37.4 F

In [6]:
temp = int(input())
c = (temp - 32) * 5/9 
print(c ,"C")

20
-6.666666666666667 C

In [ ]:
from math import  sqrt
x1,x2,x3,x4 = list(map(int,input().split()))
v1 = (x1+x2)**2
v2 = (x3+x4)**3

total = sum([x1,x2,x3,x4])
avg = total // 4 
variance = (x1-avg) ** 2 + (x2-avg) ** 2 + (x3-avg) ** 2 + (x4-avg) ** 2 
sqr_of_variance = sqrt(variance)

In [ ]:
from math import  sqrt
x1,x2,x3,x4 = list(map(int,input().split()))
v1 = (x1+x2)**2
v2 = (x3+x4)**3

total = sum([x1,x2,x3,x4])
avg = total // 4 
variance = (x1-avg) ** 2 + (x2-avg) ** 2 + (x3-avg) ** 2 + (x4-avg) ** 2 
sqr_of_variance = sqrt(variance)
Y = 1.23 * (total) + 0.045
print(total,avg,variance,sqr_of_variance,Y)

In [1]:
distance = int(input())
print(distance * 100000 , "cm")
print(distance * 1000 , "m")
print(distance * 1000000. , "mm")
print(distance * 24715.769 , "cents")
print(distance * 3280.84 , "feets")

2
200000 cm
2000 m
2000000.0 mm
49431.538 cents
6561.68 feets

In [ ]:
GB = int(input())
print(Gb * 1000 ,'MB')
print(Gb * 1000000 ,'KB')
print(Gb * 0.001 ,'TB')
print(Gb * 10 ** (-6) ,'PB')

In [ ]:
GB = int(input())
print(Gb * 1000 ,'MB')
print(Gb * 1000000 ,'KB')
print(Gb * 0.001 ,'TB')
print(Gb * 10 ** (-6) ,'PB')

In [2]:
name = input()
age = int(input())
height = input()
print(f"Name:{name}, Age:{age}, Height:{float(height)}")

Lakshmi
20
45.5
Name:Lakshmi, Age:20, Height:45.5

In [3]:
weight = int(input())
height = float(input())
print(weight/ (height * height))

20
1.75
6.530612244897959

In [7]:
name=&quot;Jayaram&quot;
age=1.6
height=3.5356234
weight=10.343856783
print('Name:%s, Age:%f, Height:%f, Weight:%f'%(name,age,height,weight))

SyntaxError: invalid syntax (218364285.py, line 1)

In [9]:
name ="lakshmi Kanth"
age=1.6
height=3.5356234
weight=10.343856783
print('Name:%s, Age:%f, Height:%f, Weight:%f'%(name,age,height,weight))

Name:lakshmi Kanth, Age:1.600000, Height:3.535623, Weight:10.343857

In [11]:
"""  Take three upper case letters from the user convert in to small case.  """
a = input()
print(a.lower())

LAK
lak

In [12]:
"""take base and exponent value from the user and print like in mathematics:"""
base = int(input())
exponent = int(input())
print()

10
20

In [14]:
""" Take some groceries cost prices and print total cost and average cost, what is the max cost, what is
the minimum cost. """


soap = int(input())
suger = int(input())
choclate = int(input())

total = sum([soap,suger,choclate])
avg = total/3
maximum = max([soap,suger,choclate])
minimu = min([soap,suger,choclate])

print(f"total :{total} , avg :{avg} , maximum :{maximum} , minimum:{minimu}")

10
29
49
total :88 , avg :29.333333333333332 , maximum :49 , minimum:10

In [15]:
a = input()

if a:
    print("ten")
else :
    print("not ten")

10
ten

In [ ]:
""" Assign “ten” value to variable it is 10 otherwise assign “Not ten” """
a = input()

if a:
    print("ten")
else :
    print("not ten")

In [17]:
""" Take the input from the user for(Total number of people, total number of buses, Number of
seats for bus, adjust factor). Based on four inputs
Decide whether there is sufficient buses or not and give solution for how many extra buses
required. """


people = int(input())
busses = int(input())
seats = int(input())
adjust_factor = int(input())


total_no_seats = busses * seats * adjust_factor 

n = people // total_no_seats 

if n > 0:
    print(f"no_of_busses_required :{n}")
else :
    print("sufficient busses")

120
4
20
2
sufficient busses

In [ ]:
"""  14.Take number from the user decide whether it is even or odd. """


a = int(input())

if a % 2 == 0:
    print("even")
else :
    print("odd")

In [19]:
"""  16.take a string from the user print the length. if the user not given anything then show an error
message  """

try  :
    a = input()
    print(len(a))
    
except EOFError :
    print("Please enter the input")

0

In [ ]:
"""  17.code to perform mathematical operations. take two numbers from the user and show the
below menu
1. add,
2. sub,
3. mul,
4.div,
5.quit
Enter an option:
based on the option need to perform an operations """


def add():
    print(10+20)
def sub():
    print(20-10)
def mul():
    print(20*10)
def div():
    print(20//10)
    
a = input()

    
function = [add,sub,.mul,div]
names = ["add","sub","mul","div"]
for i in zip(function,name):
    print(i)

In [ ]:
def add():
    print(10+20)
def sub():
    print(20-10)
def mul():
    print(20*10)
def div():
    print(20//10)
    
a = input()

    
function = [add,sub,.mul,div]
names = ["add","sub","mul","div"]
for i in zip(function,name):
    print(i)
print("ok")

In [1]:
""" write a program to chcek given substring is there in actual string or not?
example: act=&quot;python is a pure object oriented programing language&quot;
check whether “pure” is there in act or not.
Note: Use in operator """

act="python is a pure object oriented programing language&quot"

print("pure" in act.split())

True

In [2]:
a = int(input())
b = int(input())
c = int(input())

e = lambda a,b,c : a if a>c else c if a>b else b if b > c else c
e(a,b,c)

1
2
3

3

In [8]:
age = int(input())
gender = input()


k = lambda age,gender :"he is eligible" if age > 24 else "he is not eligale" if gender == "M" else "she if eligable" if age > 21 else "she is not eligable"
k(age,gender)

25
M

'he is eligible'

In [12]:
""" 22. Take an age and gender from the user: and mention that what he/she can do in india.
&quot;&quot;&quot;
conditions
1. Theatre: 5 for men 7 for women
2. Voting system: 18 for men and women
3. Marriage in india: 23 for men and for women &gt;21
4. For govt jobs: (min:18, max:32) for men and (min:18, max:34) for women
5. For driving licence: (min:18, max:60) for men and women
Eligibility:
1. theatre
2. Voting system
3. Marriage in india
4. For govt obs
5. For driving licence:

Enter an option:
Gender:
1. men
2. women
Enter an option:
Enter an age of person: """ 




gender = input()
age = int(input())



Theater = lambda gender,age :  "He Theater eligable" if age > 7  else "He theater not eligable"  if gender == "men" else "He Theater eligable" if age > 5  else "He theater not eligable"
print(Theater(gender,age))

Voting = lambda gender,age : "Voting eligable"  if age >= 18 else "Not eligable"
print(Voting(gender,age))

Marriage = lambda gender,age :  "He Marriage eligable" if age > 23  else "He marriage not eligable"  if gender == "men" else "She Marriage eligable" if age > 21  else "SHe marriage not eligable"
print(Marriage(gender,age))


Govt_jobs = lambda gender,age :  "He  eligable govt_jobs" if age >= 18 and age <= 32  else "He  eligable govt_jobs"  if gender == "men" else "she  eligable govt_jobs" if age >= 18 and age <= 34  else "sHe  eligable govt_jobs"
print(Govt_jobs(gender,age))

men
15
He Theater eligable
Not eligable
He marriage not eligable
He marriage not eligable

In [14]:
"""operating systems:

1.windows
2.android
3.mac
Enter an option:

If the user enters 1 then show &quot;Goto first floor and buy windows laptop or mobile&quot;
If the user enters 2 then show &quot;Goto second floor and buy adroid mobiles&quot;
If the user enters 3 then show &quot;Goto third floor and buy mac laptop or iphones&quot;
If the user enters other than 1 or 2 or 3 then show &quot;There is only three floors, please select 1 or
2 or 3&quot; """





a = int(input())

if a == 1:
    print("Goto first floor and buy windows laptop or mobile")

elif a == 2:
    print("Goto second floor and buy adroid mobiles")
elif a == 3:
    print("Goto third floor and buy mac laptop or iphones&quot")

else :
    print("There is only three floors, please select 1 or 2 or 3")

1
Goto first floor and buy windows laptop or mobile

In [ ]:
"""  Take a letter from the user and print that letter belongs to which category I.e is it a small letter or
capital letter or number or special symbol """

a = input()

if ord("A") <= ord(a) >= ord("Z"):
    print("Capital")
    
elif ord("a") <= ord(a) >= ord("z"):
    print("Small")
else :
    print("number")

In [17]:
""" take a string from the user and check contains only digits or not? """

a = input()
print(a.isnumeric())

123
True

In [ ]:
""" take a string from the user and check contains only special chars or not? """
a = input()
if a.isalpha():
    print("str contains no spectial charecter")
else :
    print("str contains spectial charecter")

In [ ]:
""" Convert the total string in to lower case. Without using lower() function. """

a = input()
str = ""

for i in a :
    if i == i.upper():
        i = chr(ord(i) + 32)
    str = str + i 
print(str)

In [20]:
"""Find the sum of all the multiples of 3 or 5 below 1000"""
print(sum([i for i in range(1000) if i%3 ==0 and i%5==0]))

33165

In [21]:
""" find out the index of third occurrence of given substring """

a = input()
b = "a"

count = 0 
index = 0
for i in a:
    if i == b :
        count = count + 1 
        if count == 3:
            
            break
            
    index = index + 1
print(index)

Lakara
6