In [3]:
a=1000

In [4]:
print(a)

1000

In [5]:
print(type(a))

<class 'int'>

In [6]:
isinstance(a, int)

True

In [7]:
a=int("1000")
print(a)

1000

In [8]:
class Emp:
    def __init__(self,name,empid):
        self.name=name
        self.empid=empid
    def get(self):
        return self.name, self.empid
jay = Emp("Jayaram", 1234)
print(jay.get())#

('Jayaram', 1234)

In [9]:
class Emp:
    def __init__(self,name,empid):
        self.name=name
        self.empid=empid
    def get(self):
        return self.name, self.empid
jay = Emp("Jayaram", 1234)
print(jay.get())
print(Emp.get())

('Jayaram', 1234)

TypeError: Emp.get() missing 1 required positional argument: 'self'

In [10]:
class Emp:
    def __init__(self,name,empid):
        self.name=name
        self.empid=empid
    def get(self):
        return self.name, self.empid
jay = Emp("Jayaram", 1234)
print(jay.get())
print(Emp.get(jay))

('Jayaram', 1234)
('Jayaram', 1234)

In [11]:
def fun():
    pass
print(type(fun))

<class 'function'>

In [12]:
class Emp:
    pass
print(type(Emp))

<class 'type'>

In [13]:
a=1000
print(type(a))

<class 'int'>

In [14]:
class Emp:
    pass
a=Emp()
print(type(Emp))
print(type(a))

<class 'type'>
<class '__main__.Emp'>

In [ ]:
class Emp:
    def __init__(self,name,empid):
        self.name=name
        self.empid=empid
    def get(self):
        return self.name, self.empid
jay = Emp("Jayaram", 1234)
print(type(Emp))
print(type(jay))

In [15]:
def fun():
    print("hello")

In [16]:
class Emp:
    print("hello")

hello

In [17]:
class Emp:
    print("hello")
    def get(x):
        print("this is get")

hello

In [18]:
print(Emp)

<class '__main__.Emp'>

In [ ]:
name="jayaram"
empid=1234

In [ ]:
class Emp:
    def __init__(x,name,empid):
        self.name=name
        self.empid=empid
    def get(self):
        return self.name, self.empid
jay = Emp("Jayaram", 1234)
print(type(Emp))
print(type(jay))

In [1]:
class emp:
    pass

In [ ]:
class Emp:
    company="AJA"
    def __init__(self, name):
        self.name=name
    def get(x):
        return x.name
jay=Emp("jayaram")
print(Emp.get(jay))

In [1]:
class Emp:
    company="AJA"
    def __init__(self, name):
        self.name=name
    def get(x):
        return x.name
print(Emp.company)

AJA

In [2]:
class Emp:
    company="AJA"
    def __init__(self, name):
        self.name=name
    def get(x):
        return x.name
print(Emp.company)
print(Emp.get)

AJA
<function Emp.get at 0x0000012A32D1EAC0>

In [3]:
class Emp:
    company="AJA"
    def __init__(self, name):
        self.name=name
    def get(x):
        return x.name
print(Emp.company)
print(Emp.get)
print(Emp.__init__)

AJA
<function Emp.get at 0x0000012A32D1DEE0>
<function Emp.__init__ at 0x0000012A32D1E7A0>

In [4]:
class Emp:
    company="AJA"
    def __init__(self, name):
        self.name=name
    def get(x):
        return x.name
print(Emp.company)
print(Emp.get)
print(Emp.__init__)
vedha = Emp("Vedhanvesh")
print(Emp.get(vedha))

AJA
<function Emp.get at 0x0000012A32D1EC00>
<function Emp.__init__ at 0x0000012A32D1EB60>
Vedhanvesh

In [5]:
class Emp:
    company="AJA"
    def __init__(self, name):
        self.name=name
    def get(x):
        return x.name
print(Emp.company)
print(Emp.get)
print(Emp.__init__)
vedha = Emp("Vedhanvesh")
print(Emp.get(vedha))
print(vedha.company)

AJA
<function Emp.get at 0x0000012A32FA6A20>
<function Emp.__init__ at 0x0000012A32FA5620>
Vedhanvesh
AJA

In [6]:
class Emp:
    company="AJA"
    def __init__(self, name):
        self.name=name
    def get(x):
        return x.name
print(Emp.company)
print(Emp.get)
print(Emp.__init__)
vedha = Emp("Vedhanvesh")
print(Emp.get(vedha))
print(vedha.company)
print(Emp.name)

AJA
<function Emp.get at 0x0000012A32FA51C0>
<function Emp.__init__ at 0x0000012A32D1E520>
Vedhanvesh
AJA

AttributeError: type object 'Emp' has no attribute 'name'

In [ ]:
class Product:
    def __init__(self, cost, name):
        self.cost = cost
        self.name = name
ap = Product(10, "APPLE")
"""
while executing the line  ap = Product(10, "APPLE")
what is the parent class to the Product class. object is the parent class
it will call __new__ method. the __new__ returns the data object.
it will call __init__ method by passing the data object as first argument and the remaining args(10,"APPLE") will be passed 
next.

obj = object.__new__(cls)# the cls meand the Product class object
cls.__init__(obj, 10, "APPLE")
"""

In [7]:
class Product:
    def __init__(self, cost, name):
        self.cost = cost
        self.name = name
    def get(y):
        return y.name, y.cost
ap = Product(10, "APPLE")
Product.get(ap)

('APPLE', 10)

In [8]:
class Product:
    def __init__(self, cost, name):
        self.cost = cost
        self.name = name
    def get(y):
        return y.name, y.cost
ap = Product(10, "APPLE")
print(Product.get(ap))
print(ap.get())#Product.get(ap)

('APPLE', 10)
('APPLE', 10)

In [9]:
class Product:
    def __init__(self, cost, name):
        self.cost = cost
        self.name = name
    def get(self):
        return self.name, self.cost
ap = Product(10, "APPLE")
print(Product.get(ap))
print(ap.get())#Product.get(ap)

('APPLE', 10)
('APPLE', 10)

In [10]:
class Product:
    def __init__(p, cost, name):
        p.cost = cost
        p.name = name
    def get(self):# self refers to the object what ap is refering
        return self.name, self.cost
ap = Product(10, "APPLE")
print(Product.get(ap))
print(ap.get())#Product.get(ap)

('APPLE', 10)
('APPLE', 10)

In [11]:
class Product:
    def __init__(p, cost, name):
        p.cost = cost
        p.name = name
    def get(x):# self refers to the object what ap is refering
        return x.name, x.cost
ap = Product(10, "APPLE")
print(Product.get(ap))
print(ap.get())#Product.get(ap)

('APPLE', 10)
('APPLE', 10)

In [12]:
class Product:
    def __init__(p, cost, name):
        p.cost = cost
        p.name = name
    def get(x):
        return x.name, x.cost
    def get1():
        print("hello")
ap = Product(10, "APPLE")
print(Product.get(ap))
print(ap.get())#Product.get(ap)

('APPLE', 10)
('APPLE', 10)

In [13]:
class Product:
    def __init__(p, cost, name):
        p.cost = cost
        p.name = name
    def get(x):
        return x.name, x.cost
    def get1():
        print("hello")
ap = Product(10, "APPLE")
print(Product.get(ap))
print(ap.get())#Product.get(ap)
ap.get1()#Product.get1(ap)

('APPLE', 10)
('APPLE', 10)

TypeError: Product.get1() takes 0 positional arguments but 1 was given

In [15]:
class Product:
    def __init__(p, cost, name):
        p.cost = cost
        p.name = name
    def get(x):
        return x.name, x.cost
    def get1():
        print("hello")
ap = Product(10, "APPLE")
print(Product.get(ap))
print(ap.get())#Product.get(ap)
#ap.get1()#Product.get1(ap)
Product.get1()

('APPLE', 10)
('APPLE', 10)
hello

In [16]:
class A:
    def __init__(self, name):
        self.name=name
    def op1(self):
        print("this is op1 in A")
        
class B:
    def __init__(self, name):
        self.name=name
        
    def op1(self):
        print("this is op1 in B")
        
    def op2(self):
        print("this is op2 in B")
    def operations(self):
        pass
    
B.operations(10)

In [17]:
class A:
    def __init__(x, name):
        x.name=name
    def op1(x):
        print("this is op1 in A")
        
class B:
    def __init__(x, name):
        x.name=name
        
    def op1(x):
        print("this is op1 in B")
        
    def op2(x):
        print("this is op2 in B")
    def operations(x):
        print(x)
        print("operations")
    
B.operations()

TypeError: B.operations() missing 1 required positional argument: 'x'

In [18]:
class A:
    def __init__(x, name):
        x.name=name
    def op1(x):
        print("this is op1 in A")
        
class B:
    def __init__(x, name):
        x.name=name
        
    def op1(x):
        print("this is op1 in B")
        
    def op2(x):
        print("this is op2 in B")
    def operations(x):
        print(x)
        print("operations")
    
B.operations(10)

10
operations

In [19]:
class A:
    def __init__(x, name):
        x.name=name
    def op1(x):
        print("this is op1 in A")
        
class B:
    def __init__(x, name):
        x.name=name
        
    def op1(x):
        print("this is op1 in B")
        
    def op2(x):
        print("this is op2 in B")
    def operations(self):
        print(self)
        print("operations")
    
B.operations(10)

10
operations

In [20]:
class A:
    def __init__(x, name):
        x.name=name
    def op1(x):
        print("this is op1 in A")
        
class B:
    def __init__(x, name):
        x.name=name
        
    def op1(x):
        print("this is op1 in B")
        
    def op2(x):
        print("this is op2 in B")
    def operations(self):
        print(self)
        print("operations")
    
obj_b =  B("some B")
obj_b.op1() # B.op1(obj_b)

this is op1 in B

In [21]:
class A:
    def __init__(x, name):
        x.name=name
    def op1(x):
        print("this is op1 in A")
        
class B:
    def __init__(x, name):
        x.name=name
        
    def op1(x):
        print("this is op1 in B")
        
    def op2(x):
        print("this is op2 in B")
    def operations(x):
        print(x)
        print("operations")
    
obj_b =  B("some B")
obj_b.op1() # B.op1(obj_b)
obj_b.op2() # B.op2(obj_b)

this is op1 in B
this is op2 in B

In [22]:
class A:
    def __init__(x, name):
        x.name=name
    def op1(x):
        print("this is op1 in A")
        
class B:
    def __init__(x, name):
        x.name=name
        
    def op1(x):
        print("this is op1 in B")
        
    def op2(x):
        print("this is op2 in B")
    def operations(x):
        print(x)
        print("operations")
    
obj_b =  B("some B")
obj_b.op1() # B.op1(obj_b)
obj_b.op2() # B.op2(obj_b)
obj_b.operations()#B.operations(obj_b)

this is op1 in B
this is op2 in B
<__main__.B object at 0x0000012A3412FF10>
operations

In [23]:
class A:
    def __init__(x, name):
        x.name=name
    def op1(x):
        print("this is op1 in A")
        
class B:
    def __init__(x, name):
        x.name=name
        
    def op1(x):
        print("this is op1 in B")
        
    def op2(x):
        print("this is op2 in B")
    def operations(x):
        print(x)
        print("operations")
        x.op1()
        x.op2()
    
obj_b =  B("some B")
obj_b.op1() # B.op1(obj_b)
obj_b.op2() # B.op2(obj_b)
obj_b.operations()#B.operations(obj_b)

this is op1 in B
this is op2 in B
<__main__.B object at 0x0000012A3413E5D0>
operations
this is op1 in B
this is op2 in B

In [24]:
class A:
    def __init__(x, name):
        x.name=name
    def op1(x):
        print("this is op1 in A")
        
class B:
    def __init__(x, name):
        x.name=name
        
    def op1(x):
        print("this is op1 in B")
        
    def op2(x):
        print("this is op2 in B")
    def operations(x):
        print(x)
        print("operations")
        x.op1()
        x.op2()
    
obj_b =  B("some B")
# obj_b.op1() # B.op1(obj_b)
# obj_b.op2() # B.op2(obj_b)
obj_b.operations()#B.operations(obj_b)

<__main__.B object at 0x0000012A3413E4D0>
operations
this is op1 in B
this is op2 in B

In [25]:
class A:
    def __init__(x, name):
        x.name=name
    def op1(x):
        print("this is op1 in A")
        
class B:
    def __init__(x, name):
        x.name=name
        
    def op1(x):
        print("this is op1 in B")
        
    def op2(x):
        print("this is op2 in B")
    def operations(x):
        print(x)
        print("operations")
        x.op1()
        x.op2()
    
obj_b =  B("some B")
# obj_b.op1() # B.op1(obj_b)
# obj_b.op2() # B.op2(obj_b)
obj_b.operations()#B.operations(obj_b)
B.operations(10)

<__main__.B object at 0x0000012A3413F410>
operations
this is op1 in B
this is op2 in B
10
operations

AttributeError: 'int' object has no attribute 'op1'

In [26]:
class A:
    def __init__(x, name):
        x.name=name
    def op1(x):
        print("this is op1 in A")
        
class B:
    def __init__(x, name):
        x.name=name
        
    def op1(x):
        print("this is op1 in B")
        
    def op2(x):
        print("this is op2 in B")
    def operations(x):
        print(x)
        print("operations")
        x.op1()
        x.op2()
    
obj_b =  B("some B")
# obj_b.op1() # B.op1(obj_b)
# obj_b.op2() # B.op2(obj_b)
obj_b.operations()#B.operations(obj_b)
B.operations(obj_b)

<__main__.B object at 0x0000012A34103810>
operations
this is op1 in B
this is op2 in B
<__main__.B object at 0x0000012A34103810>
operations
this is op1 in B
this is op2 in B

In [27]:
class A:
    def __init__(x, name):
        x.name=name
    def op1(y):
        print("this is op1 in A")
        
    def op3(z):
        print("this is op3 in A")
        
class B:
    def __init__(x, name):
        x.name=name
        
    def op1(x):
        print("this is op1 in B")
        
    def op2(x):
        print("this is op2 in B")
    def operations(x):
        print(x)
        print("operations")
        x.op1()
        x.op2()
    
obj_b =  B("some B")
obj_b.operations()
B.operations(obj_b)
A.op1(10)
A.op3(12)

<__main__.B object at 0x0000012A3411D790>
operations
this is op1 in B
this is op2 in B
<__main__.B object at 0x0000012A3411D790>
operations
this is op1 in B
this is op2 in B
this is op1 in A
this is op3 in A

In [28]:
class A:
    def __init__(x, name):
        x.name=name
    def op1(y):
        print("this is op1 in A")
        
    def op3(z):
        print("this is op3 in A")
        
class B:
    def __init__(x, name):
        x.name=name
        
    def op1(x):
        print("this is op1 in B")
        
    def op2(x):
        print("this is op2 in B")
    def operations(x):
        print(x)
        print("operations")
        x.op1()
        x.op2()
        A.op1(10)
        A.op3(20)
    
obj_b =  B("some B")
obj_b.operations()#B.operations(obj_b)

<__main__.B object at 0x0000012A3417B810>
operations
this is op1 in B
this is op2 in B
this is op1 in A
this is op3 in A

In [ ]:
class A:
    def __init__(x, name):
        x.name=name
    def op1(y):
        print("this is op1 in A")
        
    def op3(z):
        print("this is op3 in A")
        
class B:
    def __init__(x, name):
        x.name=name
        
    def op1(x):
        print("this is op1 in B")
        
    def op2(x):
        print("this is op2 in B")
    def operations(x):
        print(x)
        print("operations")
        x.op1()
        x.op2()
        A.op1(10)
        A.op3(20)
    
obj_b =  B("some B")
obj_b.operations()#B.operations(obj_b)

In [29]:
class Emp:        
    def get_emp(y):
        return y.name, y.sal, y.dept
    def get_sal(p):
        pass
    
v=Emp()
v.name="vedha guduru"
v.sal=2354678
v.dept="Ic3"
print(Emp.get_emp(v))

('vedha guduru', 2354678, 'Ic3')

In [31]:
class Emp:        
    def get_emp(y):
        return y.name, y.sal, y.dept
    def get_sal(p):
        pass
    
v=Emp()
v.name="vedha guduru"
v.sal=2354678
v.dept="Ic3"
print(Emp.get_emp(v))
j=Emp()
j.name="Jayaram"
print(Emp.get_emp(j))

('vedha guduru', 2354678, 'Ic3')

AttributeError: 'Emp' object has no attribute 'sal'

In [33]:
class Emp:        
    def get_emp(y):
        return y.name, y.sal, y.dept
    def get_sal(p):
        pass
    
v=Emp()
v.name="vedha guduru"
v.sal=2354678
v.dept="Ic3"
print(v.get_emp())
j=Emp()
j.name="Jayaram"
print(j.get_emp())

('vedha guduru', 2354678, 'Ic3')

AttributeError: 'Emp' object has no attribute 'sal'

In [34]:
class Emp: 
    def set_emp(p, name, sal, dept):
        v.name="vedha guduru"
        v.sal=2354678
        v.dept="Ic3"
    def get_emp(y):
        return y.name, y.sal, y.dept
    def get_sal(p):
        pass
    
v=Emp()
Emp.set_emp(v, "vedha guduru", 2354678, "Ic3")
# v.name="vedha guduru"
# v.sal=2354678
# v.dept="Ic3"
print(v.get_emp())
j=Emp()
# j.name="Jayaram"
Emp.set_emp(j, "Jayaram", 2354678, "Ic3")
print(j.get_emp())

('vedha guduru', 2354678, 'Ic3')

AttributeError: 'Emp' object has no attribute 'name'

In [35]:
class Emp: 
    def set_emp(p, name, sal, dept):
        p.name="vedha guduru"
        p.sal=2354678
        p.dept="Ic3"
    def get_emp(y):
        return y.name, y.sal, y.dept
    def get_sal(p):
        pass
    
v=Emp()
Emp.set_emp(v, "vedha guduru", 2354678, "Ic3")
# v.name="vedha guduru"
# v.sal=2354678
# v.dept="Ic3"
print(v.get_emp())
j=Emp()
# j.name="Jayaram"
Emp.set_emp(j, "Jayaram", 2354678, "Ic3")
print(j.get_emp())

('vedha guduru', 2354678, 'Ic3')
('vedha guduru', 2354678, 'Ic3')

In [36]:
class Emp: 
    def set_emp(p, name, sal, dept):
        p.name="vedha guduru"
        p.sal=2354678
        p.dept="Ic3"
    def get_emp(y):
        return y.name, y.sal, y.dept
    def get_sal(p):
        pass
    
v=Emp()
v.set_emp("vedha guduru", 2354678, "Ic3")#Emp.set_emp(v, "vedha guduru", 2354678, "Ic3")
# v.name="vedha guduru"
# v.sal=2354678
# v.dept="Ic3"
print(v.get_emp())
j=Emp()
# j.name="Jayaram"
j.set_emp("Jayaram", 2354678, "Ic3")#Emp.set_emp(j, "Jayaram", 2354678, "Ic3")
print(j.get_emp())

('vedha guduru', 2354678, 'Ic3')
('vedha guduru', 2354678, 'Ic3')

In [37]:
class Emp: 
    def set_emp(p, name, sal, dept):
        p.name="vedha guduru"
        p.sal=2354678
        p.dept="Ic3"
    def get_emp(y):
        return y.name, y.sal, y.dept
    def get_sal(p):
        pass
    
v=Emp()
v.set_emp("vedha guduru", 2354678, "Ic3")#Emp.set_emp(v, "vedha guduru", 2354678, "Ic3")
# v.name="vedha guduru"
# v.sal=2354678
# v.dept="Ic3"
print(v.get_emp())
j=Emp()
# j.name="Jayaram"
#j.set_emp("Jayaram", 2354678, "Ic3")#Emp.set_emp(j, "Jayaram", 2354678, "Ic3")
print(j.get_emp())

('vedha guduru', 2354678, 'Ic3')

AttributeError: 'Emp' object has no attribute 'name'

In [38]:
class Emp: 
    def __init__(p, name, sal, dept):
        p.name="vedha guduru"
        p.sal=2354678
        p.dept="Ic3"
    def get_emp(y):
        return y.name, y.sal, y.dept
    def get_sal(p):
        pass
    
v=Emp()

TypeError: Emp.__init__() missing 3 required positional arguments: 'name', 'sal', and 'dept'

In [39]:
class Emp: 
    def __init__(p, name, sal, dept):
        p.name="vedha guduru"
        p.sal=2354678
        p.dept="Ic3"
    def get_emp(y):
        return y.name, y.sal, y.dept
    def get_sal(p):
        pass
    
v=Emp("vedha guduru", 2354678, "Ic3")
print(v.get_emp())

('vedha guduru', 2354678, 'Ic3')

In [41]:
class Emp: 
    def __init__(p, name, sal, dept):
        p.name=name
        p.sal=sal
        p.dept=dept
    def get_emp(y):
        return y.name, y.sal, y.dept
    def get_sal(p):
        pass
    
v=Emp("vedha guduru", 2354678, "Ic3")
print(v.get_emp())
j=Emp("Jayaram", 2354678, "Ic3")
print(j.get_emp())

('vedha guduru', 2354678, 'Ic3')
('Jayaram', 2354678, 'Ic3')

In [42]:
class Emp: 
    def __init__(p, name, sal, dept):
        p.name=name
        p.sal=sal
        p.dept=dept
    def get_emp(y):
        return y.name, y.sal, y.dept
    def get_sal(p):
        print(p.sal*30)
    
v=Emp("vedha guduru", 2354678, "Ic3")
print(v.get_emp())
j=Emp("Jayaram", 2354678, "Ic3")
print(j.get_emp())
j.get_sal()

('vedha guduru', 2354678, 'Ic3')
('Jayaram', 2354678, 'Ic3')
70640340