In [23]:
def fun():
    print(1)
    yield 10
    print(2)
    yield 20
    print(3)
    yield 30
r=fun()
print(r)
print(next(r))

<generator object fun at 0x000001DD697B9C00>
1
10

In [25]:
print(r)
print(next(r))

<generator object fun at 0x000001DD697B9F00>
2
20

In [26]:
print(r)
print(next(r))

<generator object fun at 0x000001DD697B9F00>
3
30

In [34]:
a="1234"
print(a.isdigit())
print(a.isnumeric())
print(a.isdecimal())
b="2**4"
print(b.isdigit())
print(b.isnumeric())
print(b.isdecimal())

True
True
True
False
False
False

In [41]:
b="0.5"
print(b.isdigit())
print(b.isnumeric())
print(b.isdecimal())

False
False
False

In [ ]:
params=["name","age","adhar","phone"]
mandatory = ["name","age"]
given = ["name","adhar"] # age is mandatory
given = ["adhar","phone"]#age,name are mandatory
given = ["name","age","email"]#email is an extra parameter
given = ["name","email"]#email is an extra parameter, "age" is mandatory

In [2]:
l = ['a', 'b', 'c', 'a', 'b', 'a', 'c', 'a', 'b']
t = input('enter a target charcter to change last 2 occurences: ')
c = l.count(t)
op = []
print(c
     )
for i in l:
    if i==t and (c!=2 or c!=1):
        c -= 1
    elif c==2 or c==1:
        op += t.upper()
    else:
        op += i
print(op)

enter a target charcter to change last 2 occurences: a,c
0
['a', 'b', 'c', 'a', 'b', 'a', 'c', 'a', 'b']

In [2]:
print("1")
print("2")
print("3)
print("4")

SyntaxError: unterminated string literal (detected at line 3) (2202810904.py, line 3)

In [1]:
import os
print(os.__file__)

C:\ProgramData\anaconda3\Lib\os.py

In [3]:
import sys
print(sys.path)

['C:\\Users\\chbhagavaan98\\Documents\\jupiterr_note_book', 'C:\\ProgramData\\anaconda3\\python311.zip', 'C:\\ProgramData\\anaconda3\\DLLs', 'C:\\ProgramData\\anaconda3\\Lib', 'C:\\ProgramData\\anaconda3', '', 'C:\\ProgramData\\anaconda3\\Lib\\site-packages', 'C:\\ProgramData\\anaconda3\\Lib\\site-packages\\win32', 'C:\\ProgramData\\anaconda3\\Lib\\site-packages\\win32\\lib', 'C:\\ProgramData\\anaconda3\\Lib\\site-packages\\Pythonwin']

In [3]:
import pymysql
class Data_base:
    def create(table):
        with pymysql.connect(user="root",password="root",database="aja",port=3306) as con:
            with con.cursor() as cur:
                cur.execute(table)
                print("table created successfully")

    def all_methods(data):
        with pymysql.connect(user="root",password="root",database="aja",port=3306) as con:
            with con.cursor() as cur:
                cur.execute(data)
                con.commit()
                print("query executed successfully")    
        
d=Data_base()
##Data_base.create("create table Employee(eno int(5),ename varchar(20),esal float,eaddr varchar(20))")
##Data_base.all_methods("insert into employee values(100,'eshwar',15000,'hyderabad')")
##Data_base.all_methods("insert into employee values(101,'ramesh',14000,'mumbai')")
##Data_base.all_methods("insert into employee values(102,'ravi',15500,'vizag')")
##Data_base.all_methods("delete from employee where eno=102")
Data_base.all_methods("update employee set ename='vadeppa' where eno=101")

query executed successfully