# 1. Write a class(DB) program to create a table, insert values, update values, delete values of the table.
All database operations code write in a file(db_operations.py) and call these operations in another file( app.py).
In app.py create instance of the DB class and call all the methods by passing some data.

In [6]:
import pandas as pd
import pymysql
myconnection =pymysql.connect(host='localhost',user='root',password='root',database='erpdata')
query ='select * from data'
df =pd.read_sql_query(query,myconnection,parse_dates=True)
print(df.head(5))


# cur=myconnection.cursor()
# query ="select * from where Period=2016.06"

  Series_reference   Period  Data_value Suppressed STATUS    UNITS  Magnitude  \
0    BDCQ.SF1AA2CA  2016.06    1116.386                 F  Dollars          6
1    BDCQ.SF1AA2CA  2016.09    1070.874                 F  Dollars          6
2    BDCQ.SF1AA2CA  2016.12    1054.408                 F  Dollars          6
3    BDCQ.SF1AA2CA  2017.03    1010.665                 F  Dollars          6
4    BDCQ.SF1AA2CA  2017.06    1233.700                 F  Dollars          6

                          Subject  \
0  Business Data Collection - BDC
1  Business Data Collection - BDC
2  Business Data Collection - BDC
3  Business Data Collection - BDC
4  Business Data Collection - BDC

                                             Group            Series_title_1  \
0  Industry by financial variable (NZSIOC Level 2)  Sales (operating income)
1  Industry by financial variable (NZSIOC Level 2)  Sales (operating income)
2  Industry by financial variable (NZSIOC Level 2)  Sales (operating income)
3  Industry by financial variable (NZSIOC Level 2)  Sales (operating income)
4  Industry by financial variable (NZSIOC Level 2)  Sales (operating income)

         Series_title_2  Series_title_3 Series_title_4 Series_title_5
0  Forestry and Logging  Current prices     Unadjusted
1  Forestry and Logging  Current prices     Unadjusted
2  Forestry and Logging  Current prices     Unadjusted
3  Forestry and Logging  Current prices     Unadjusted
4  Forestry and Logging  Current prices     Unadjusted

C:\Users\we\AppData\Local\Temp\ipykernel_17892\1507076467.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df =pd.read_sql_query(query,myconnection,parse_dates=True)

In [ ]:

import pymysql
myconnection =pymysql.connect(host='localhost',user='root',password='root',database='Aja_staff')
query ='create '
df =pd.read_sql_query(query,myconnection,parse_dates=True)
print(df.head(5))

In [3]:
import pymysql
myconnection =pymysql.connect(host='localhost',user='root',password='root',database='Aja_staff')
with myconnection as mc:
    with mc.cursor() as cur:
        query = 'insert into sample(emp_id, emp_name, technology, joined_date) values(1120,govardhan,python,2023-09-06) '
        cur.execute(query)

OperationalError: (1054, "Unknown column 'govardhan' in 'field list'")

Model: Creating...
Person: Validation failed. Please provide valid name and phone number.

In [ ]:
class Model:
    def create(self):
        print('Model: Creating...')

    def update(self):
        print('Model: Updating...')

    def delete(self):
        print('Model: Deleting...')


class Person(Model):
    def create(self, name, phn):
        super().create()  
        if name.isalnum() and phn.isdigit():
            print(f'Person: Creating Person with name {name} and phone number {phn}')
        else:
            print('Person: Validation failed. Please provide valid name and phone number.')

    def update(self):
        super().update()
        print('Person: Updating Person information...')

    def delete(self):
        super().delete()
        print('Person: Deleting Person...')



person = Person()
person.create("John Doe", "1234567890")  # Call the create method with name and phone number