In [1]:
#Task on 07/11/2023

def details_manadatory(params, manadatory, user_input):
    if sorted(manadatory) == sorted(user_input) :
        
        return 'Manadatory items were given'
    else:

        s1 = list((set(manadatory) - set(user_input)))
        s2 = " ".join(s1)
        diff = []
        for item in user_input:
            if item not in manadatory:
                diff.append(item)
        
        extra = []
        for each in diff:
            if each not in params:
                extra.append(each)

        dif = " ".join(extra)
        if len(extra) == 0:
            return f'{s2} manadatory'
        else:
            return f'{dif} extra given \n{s2} manadatory'

params = ["name", "age", "aadhar", "phone"]
manadatory = ["name", "age"]
user_input = input("Enter user input separtated by space:- ").split()
#print(user_input)
get = details_manadatory(params, manadatory, user_input)
print(get)

Enter user input separtated by space:- name age
Manadatory items were given

In [2]:
#Task on 07/11/2023

l = "apple,orange,apple,mango,grapes,apple,grapes,apple,banana"
list_l = l.split(",")
length = list_l[::]
count = list_l.count('apple')
c = 0
res = []
for item in list_l:
    if item == 'apple':
        c += 1
        if c > count-2:
            res.append(item.upper())
        else:
            res.append(item)
    else:
        res.append(item)


for i in res:
    if i == 'apple':
        res.remove('apple')
print(res)

['orange', 'mango', 'grapes', 'APPLE', 'grapes', 'APPLE', 'banana']

In [16]:
#Task on 10/11/2023 find the top 3 employees who got above average salary.

from faker import Faker
import random
fake = Faker()
file = open("employees_data.csv", 'w')
file.write("Name,Department,Salary,Mobile\n")
for i in range(100):
    row = f'{fake.name()},{fake.word()},{random.randint(200000, 500000)},{fake.phone_number()}\n'
    file.write(row)
file.close()
print(file)
f = open("employees_data.csv", "r")
f = f.readlines()
#print(f)
sal = []
for i in f[1:]:
    num = 0
    for j in i:
        if j.isdigit():
            num = i.index(j)
            break
    sal.append(int(i[num:num+6]))  
#print(sal)

sal_length = len(sal)
summ = 0
for s in sal:
    summ += s
avg_sal = summ/sal_length
print(avg_sal)
avg_sal_gr = []
for s in sal:
    if avg_sal < s:
        avg_sal_gr.append(s)
avg_sal_gr.sort()        
print(avg_sal_gr)        

print("The Top 3 Persons who got salary above average salary of all\n")
print(f[0])
for person in f:
    if str(avg_sal_gr[-1]) in person: 
        print(person)
    elif str(avg_sal_gr[-2]) in person:
        print(person)
    elif str(avg_sal_gr[-3]) in person:
        print(person)

<_io.TextIOWrapper name='employees_data.csv' mode='w' encoding='cp1252'>
370320.51
[374473, 379679, 380720, 393497, 394028, 394090, 396755, 401229, 417765, 417924, 419620, 422142, 423543, 425219, 430456, 431729, 438118, 438410, 439333, 442660, 448207, 455021, 456587, 457600, 458498, 458837, 462437, 464765, 465003, 465431, 466474, 471206, 472314, 472929, 476074, 478098, 479439, 481217, 485955, 486353, 487416, 487520, 488243, 490914, 491312, 491534, 492755, 493807, 495361]
The Top 3 Persons who got salary above average salary of all

Name,Department,Salary,Mobile

Lisa Murillo,more,493807,+1-259-354-7079x548

Luis Davis,former,495361,401-242-7565

Anthony Hall,music,492755,(819)793-3066x833

In [3]:
#Task on 13/11/2023

# Write a class(DB) program to create a table, insert values, update values, delete values of the table.
# All database operations code write in a file(db_operations.py) and call these operations in another file( app.py).
# In app.py create instance of the DB class and call all the methods by passing some data.

import pymysql

class DB:
    
    connect = pymysql.connect(user="root", password="root", database="aja")
    cur = connect.cursor()
    
    def __init__(self,table):
        self.table=table
        
    def create_table(self):
        
        try:
            query = f"create table {self.table}(id int, name varchar(50))"
            DB.cur.execute(query)
            print("Table Created successfully")
        except  Exception as err:
            print("DB error is",err)
        
        finally:
            DB.connect.close()
            
            
    def insert_data(self, x,y):  
        DB.connect
        query = f"insert into {self.table} values({x}, '{y}')"
        try:
            DB.cur.execute(query)
            DB.connect.commit()
            print("inserted successsfully")
            
        except Exception as err:
            print("DB error is",err)
        
        finally:
            DB.connect.close()
        
    def update_data(self, num, value):
        DB.connect
        query = f"update {self.table} set name='{value}' where id='{num}'"
        DB.cur.execute(query)
        DB.connect.commit()
        print("updated successsfully")
        DB.connect.close()
        
    def delete_data(self, num):
        DB.connect
        query = f"delete from {self.table} where id='{num}'"
        DB.cur.execute(query)
        DB.connect.commit()
        print("deleted successsfully")
        DB.connect.close()
        
        
        
    
ob = DB("fru")
# ob.create_table()
# ob.insert_data(1,"apple")
# ob.insert_data(2,"apple")
# ob.update_data(1,'mango')
# ob.delete_data(1)

In [84]:
# write a program to do registration.
# Write a methods in a class DB to open database connection and insert details in to database table.

obj1 = DB("person")
obj1.create_table()

DB error is (0, '')

Error: Already closed

In [9]:
class ABC:
    def __init__(self, a):
        self.a = a
    def printt(self):
        print(self.a)
    def call(self):
        pass
a = ABC("12")
a.call()

12

In [15]:
import pymysql

class DB:
    
    def __init__(self,table):
        self.table=table
    
    def db_open(self):
        self.connect = pymysql.connect(user="root", password="root", database="aja")
        self.cur = self.connect.cursor()
        
    def db_close(self):
        self.connect.close()
         
    def create_table(self):
        try:
            self.db_open()
            query = f"create table {self.table}(id int, name varchar(50))"
            self.cur.execute(query)
            print("Table Created successfully")
            self.db_close()
        except  Exception as err:
            print("DB error is",err)
            self.db_close()
                   
    def insert_data(self, x,y):  
        try:
            self.db_open()
            query = f"insert into {self.table} values({x}, '{y}')"
            self.cur.execute(query)
            self.connect.commit()
            print("inserted successsfully")
            
        except Exception as err:
            print("DB error is",err)
        
        finally:
            self.db_close()
        
    def update_data(self, num, value):
        try:
            self.db_open()
            query = f"update {self.table} set name='{value}' where id='{num}'"
            self.cur.execute(query)
            self.connect.commit()
            print("updated successsfully")
        except Exception as err:
            print("DB error is",err)
        
        finally:
            self.db_close()
        
    def delete_data(self, num):
        try:
            self.db_open()
            query = f"delete from {self.table} where id='{num}'"
            self.cur.execute(query)
            self.connect.commit()
            print("deleted successsfully")
        except Exception as err:
            print("DB error is",err)
        
        finally:
            self.db_close()
        
        
        
    
ob = DB("f")
#ob.create_table()
ob.insert_data(1,"apple")
ob.insert_data(2,"apple")
ob.update_data(1,'mango')
ob.delete_data(1)

inserted successsfully
inserted successsfully
updated successsfully
deleted successsfully

In [8]:
# Task on 16-11-2023

#    Write a “Model” parent class and implement a create,update,delete method.
#    Write child class “Person” for Model and override methods create,update,delete methods. 
#    Call the parent(Model) class create method in the child(person) class create method and add small validation. 
#    create an instance of person class and call the create method.

class Model:
    
    def create(self):
        print("created")
    
    def update(self):
        print("updated")
    
    def delete(self):
        print("deleted")

class Person(Model):
    
    def __init__(self,name,age):
        self.name = name
        self.age = age
    
    def create(self):
        if not self.name.isalpha():
            print("name contains otherthan alphabets")
        else:
            super().create()
        
person = Person("name", 12)
person.create()

created

In [19]:
# Create a child class for Person and extend two extra attributes.
# In person class of 3 if you have name,age attributes. In the child class now add two extra attributes 
# (email and phone number) Do all Crud operations.

class Child(Person):
    
    def __init__(self,name, age, email, phone):
        super().__init__(name, age)
        self.email = email
        self.phone = phone

child = Child("john", 12, "john@gmail.com", 667532433)
child.create()
child.update()
child.delete()

created
updated
deleted