In [ ]:
l=["apple","orange","apple","grape","apple","banana"]
l.index('apple')?

In [ ]:
def insertAtBegin(self, data):
    new_node = Node(data)
    if self.head is None:
        self.head = new_node
        return
    else:
        new_node.next = self.head
        self.head = new_node

In [ ]:
s = {'a'}
l = list(s)
print(l)

In [ ]:
def func(name, age, aadhar=None, phone=None, **kwargs):
    print('name' - name)
    print('age' - age)
    
    if 'email' in kwargs:
        print("Email is an extra field")
    
    if aadhar is not None:
        print('aadhar is extra field', aadhar)
    
    if phone is not None:
        print('phone' - phone)
        
try :
    func('alex', 30, phone='1234567890', email = 'a@gmail.com')
except:
    print(' name and age are mandatory')

In [ ]:
def func(name, age, aadhar=None, phone=None, **kwargs):
    print('name- ', name)
    print('age-', age)
    
    if 'email' in kwargs:
        print("Email is an extra field")
    
    if aadhar is not None:
        print('aadhar is extra field', aadhar)
    
    if phone is not None:
        print('phone' - phone)
        
func('alex', 30, phone='1234567890', email = 'a@gmail.com')

In [ ]:

def Employee(name, age, aadhar=None, phone=None, **kwargs):
    print('name- ', name)
    print('age-', age)

    if 'email' in kwargs:
        print("Email is an extra field")

    if aadhar is not None:
        print('aadhar is extra field', aadhar)

    if phone is not None:
        print('phone -',  phone)

    
try:       
    Employee('gowardhan', 50, phone='9955668877', email = 'a@gmail.com')
    print()
    Employee( phone='9898567890', email = 'hjja@gmail.com')
    print()
except:
    print('age and name are mandatory')

In [ ]:
l = ['a', 'b', 'c', 'a', 'b', 'a', 'c', 'a', 'b']
t = input('enter a target charcter to change last 2 occurences: ')
c = l.count(t)
op = []
print(c
     )
for i in l:
    if i==t and c!=2 and c!=1:
        c -= 1
    
    elif c==2 or c==1:
        op += t.upper()
    
    else:
        op += i
        
print(op)

In [ ]:
l = ['a', 'b', 'c', 'a', 'b', 'a', 'c', 'a', 'b']
t = input('enter a target charcter to change last 2 occurences: ')
c = l.count(t)
x=[]
coun=0
for i in l:
    if i == t:
        coun+=1
        if coun > (c-2):
            x.append(i.upper())
        else :
            x.append(i)
    else :
        x.append(i)
print(x)

In [ ]:
#[8:35 AM] samba (Guest)
data=[{"name":"jay","age":7},{"name":"vedha","age":6}]

[8:35 AM] samba (Guest)
add email key and some value to each and every dict in the list

In [ ]:
data=[{"name":"jay","age":7},{"name":"vedha","age":6}]
emails =['g@gmaul.com','go@gmail.com']
for i,j in data,emails:
    i['email']=j
print(data)

In [ ]:
l1=()
z1=[1,2,3]
z2=[4,5,6]
d=[]
for i in range(len(z1)):
    s=[]
    s.append(z1[i])
    s.append(z2[i])
    s=tuple(s)
    d.append(s)
d

In [ ]:
l=[1,2,3,4,5]
c=0
for i in l:
    if i%2==0:
        print('yes')
        break
    else :
        c+=1
if c0:
    print('no')

In [1]:
import re

# Text containing both sets of data
# text = """
# Bank A/c No. : 737301507581 ESI A/c No : Designation : QUALITY ANALYST Bank Name : ICICI BANK UAN : 101389794577 Net Paid Days : 31 Earnings Amount Rs. Deductions Amount Rs. BASIC SALARY 13,746.00 PF 1,800.00 HRA 6,873.00 LOP 0.00 CONVEYANCE ALLOWANCE 1,131.00 ESI 170.00 CHILDREN EDUCATION ALLOWANCE 0.00 PT 200.00 LEAVE TRAVEL ALLOWANCE 0.00 TDS 0.00 MEDICAL ALLOWANCE 0.00 TRANSPORT 2,000.00 FOOD ALLOWANCE 0.00 SODEXHO 0.00 EDUCATION ALLOWANCE 0.00 ADVANCE 0.00 SPECIAL ALLOWANCE 869.00 MEAL VOUCHERS 0.00 Bonus per month 0.00 OTHER DED. 0.00 INCENTIVES/ARRERS 0.00 REVERT & VARIABLE PAY 0.00 Total Earnings 22,619.00 Total Deductions 4,170.00 Net Pay : Rs. 18,449.00 In Words : Rs. Eighteen Thousand Four Hundred Forty Nine Only Employer's Contribution (CTC) GROSS EARNING 22,619.00 EMPLOYER'S PROVIDENT FUND 1,800.00 EMPLOYER'S STATE INSURANCE 736.00 GRATUITY 573.00 Total : 25,728.00 Total CTC : Rs. 25,728.00 In Words : Rs. Twenty Five Thousand Seven Hundred Twenty Eight Only TDS Deducted Upto Aug/2023 : Rs. Nil This is Computer Generated Sheet, does not require Signature

# Ojas Innovative Technologies Office Address : 5th & 9th Floor, MJR Magnifique, Raidurgam Hyderabad - 500008, Telangana, Hyderabad - 500008, Telangana, India Salary Slip for the Month of December - 2022 Employee Name : Shravan Kumar Dasari Employee ID : 22181 Current Designation : Trainee Software Engineer Bank Name : ICICI BANK PAN : EBMPK3395B Account Number : 059801567195 Current location : Hyderabad,Hyderabad, Telangana, India UAN Number : 101828991331 No of Working Days : 31 No of Days Worked : 31 LOP Days : 0 Arrear Days : 0 Earnings Deductions Description Amount Description Amount Basic+DA 3,200 ESIC 46 HRA 1,280 Provident Fund 806 LWF 2 Statutory Bonus 666 Special Allowance 1,695 Fuel Benefit 3,500 Entertainment Benefit 3,500 Gross Earnings 13,841 Gross Deductions 854 Net Pay 12,987 Total Pay 12,987 In words : Twelve Thousand Nine Hundred And Eighty Seven Rupees Only. ** This is a system generated payslip, hence signature not required
# """

text = '''VIRINCHI LIMITED
PAY SLIP For the Month of Aug/2023
(From 01/08/2023 To 31/08/2023)
Employee Name : SHAIK MATHIN Employee Code : 3691
DOJ : 28/06/2022 PAN : 
Bank A/c No. : 737301507581 ESI A/c No : 
Designation : QUALITY ANALYST Bank Name : ICICI BANK
UAN : 101389794577
Net Paid Days : 31
Earnings Amount Rs. Deductions Amount Rs.
BASIC SALARY 13,746.00 PF 1,800.00
HRA 6,873.00 LOP 0.00
CONVEYANCE ALLOWANCE 1,131.00 ESI 170.00
CHILDREN EDUCATION ALLOWANCE 0.00 PT 200.00
LEAVE TRAVEL ALLOWANCE 0.00 TDS 0.00
MEDICAL ALLOWANCE 0.00 TRANSPORT 2,000.00
FOOD ALLOWANCE 0.00 SODEXHO 0.00
EDUCATION ALLOWANCE 0.00 ADVANCE 0.00
SPECIAL ALLOWANCE 869.00 MEAL VOUCHERS 0.00
Bonus per month 0.00 OTHER DED. 0.00
INCENTIVES/ARRERS 0.00
REVERT & VARIABLE PAY 0.00
Total Earnings 22,619.00 Total Deductions 4,170.00
Net Pay : Rs. 18,449.00
In Words : Rs. Eighteen Thousand Four Hundred Forty Nine Only
Employer's Contribution (CTC)
GROSS EARNING 22,619.00
EMPLOYER'S PROVIDENT FUND 1,800.00
EMPLOYER'S STATE INSURANCE 736.00
GRATUITY 573.00
Total : 25,728.00
Total CTC : Rs. 25,728.00
In Words : Rs. Twenty Five Thousand Seven Hundred Twenty Eight Only
TDS Deducted Upto Aug/2023 : Rs. Nil
This is Computer Generated Sheet, does not require Signature'''

# Pattern to extract Employee Name, Salary, and Deductions
employee_info_pattern = r"(?:Employee Name|Designation)\s*:\s*([\w\s]+).*?(?:Gross Earnings|BASIC SALARY)\s+(\d+\.\d+).*?(?:Gross Deductions|Total Deductions)\s+(\d+\.\d+)"
matches = re.findall(employee_info_pattern, text, re.DOTALL)

for match in matches:
    print("Employee Name:", match[0])
    print("Salary:", match[1])
    print("Deductions:", match[2])